@font-face {
  font-family: "Proxima Nova Regular";
  src: url("ProximaNova-Regular.eot"),("ProximaNova-bold.eot") ;
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Regular.woff") format("woff"),
    url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("ProximaNova-Light.eot");
  src: url("ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProximaNova-Light.woff") format("woff"),
    url("./fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.woff") format("woff"),
    url("./fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
