@import "./variables.scss";
@import "./fonts.scss";

@mixin link {
  > a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-left: 28px;
    cursor: pointer;
    color: $white;
    &:hover {
      border-color: $darkorange;
    }
    &:active {
      border-color: $darkorange;
    }
  }
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova Regular", "Proxima Nova Light", "Raleway";
  img {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 600;
}
.menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $white;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: $gray;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  color: $white;
  background-color: $darkorange;
  width: 174px;
  height: 53px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $white;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}

.header {
  top: 0;
  height: 810px;
  background: url(./img/bg.png) center no-repeat;
  color: $white;

  #header__logo {
    margin-top: 32px;
    max-width: 100%;
  }

  .header-nav {
    @include flexrow;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 129px;

    .header-nav__menu {
      display: inline-block;
      @include link;
    }
  }
  .header-content {
    @include flexrow;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 110px;
    margin-left: 82px;
    .header-content-text {
      @include flexcolumn;
      align-items: flex-start;
      h1 {
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 48px;
      }
    }

    .header-content-toggle {
      @include flexcolumn;
      > span {
        margin-bottom: 12px;
      }
      .polygon {
        display: block;
        background: url(./img/polygon.png);
        width: 19px;
        height: 22px;
        cursor: pointer;

        &:hover,
        &:active {
          background: url(./img/polygon-active.png);
        }
      }
    }
  }
}
.header-find {
  @include flexcolumn;
  justify-content: center;
  align-items: center;

  > h5 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 19px;
  }
  .find__button {
    width: 62px;
    height: 71px;
  }
}

.statistics {
  @include flexrow;
  justify-content: center;
  align-items: center;
  color: $blue;
  height: 382px;
  h2 {
    font-size: 60px;
    line-height: 68px;
  }

  p {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .statistics-text {
    @include flexrow;
    justify-content: center;
    align-items: center;

    .statistics-text__item {
      @include flexcolumn;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
    }
  }
}

.affairs-wrapper {
  background: #f8f8f8;
}
.affairs {
  padding: 145px 10% 120px 10%;
  margin-bottom: 110px;

  .affairs-title {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: flex-end;
    margin-bottom: 62px;

    #title-union {
      margin-bottom: 50px;
    }
    h2 {
      font-size: 60px;
      line-height: 72px;
      color: $blue;
    }
  }

  h5 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: $blue;
    margin: 28px 0 8px 0;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: $gray;
  }
  .affairs-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    > img {
      max-width: 100%;
    }
    .affairs-box__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .affairs-box__item-text {
        align-items: start;
      }
    }
  }
}

.spotlight {
  margin: 0 10% 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  h3 {
    font-size: 40px;
    line-height: 55px;
    color: $blue;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: $gray;
    margin: 15px 0 38px 0;
  }

  .spotlight-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #spotlight__button {
    opacity: 1;
    width: 171px;
    height: 44px;
    &:hover {
      border: 2px solid $gray;
      opacity: 0.9;
    }
  }
  #spotlight__button--mobil {
    width: 171px;
    height: 44px;
    &:hover {
      border: 2px solid $gray;
      opacity: 0.9;
    }
    opacity: 0;
  }

  video {
    max-width: 100%;
    max-height: 444px;
    margin-left: 100px;
  }
}

.contact {
  background-color: $black;
  color: $white;
  height: 700px;
  @include flexrow;
  justify-content: space-around;
  margin-bottom: 97px;

  .contact-bg {
    position: absolute;
    left: 0;
    width: 250px;
    height: 150px;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 1;
    filter: blur(130px);
    border-radius: 373.431px;
    transform: rotate(-122.79deg);
  }

  h2 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 128px;
  }
  h3 {
    font-size: 28px;
    line-height: 0px;
    margin-bottom: 55px;
  }
  label {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1px;
    margin-bottom: 8px;
  }

  input {
    background: $white;
    border: 1px solid #292929;
    border-radius: 8px;
    text-align: start;
    padding-left: 5px;
    width: 294px;
    height: 40px;

    &:invalid {
      border: 2px solid red;
    }
  }

  #address,
  #message {
    width: 608px;
  }
  #message {
    padding-top: 11px;
    padding-bottom: 85px;
  }

  .contact-form {
    @include flexcolumn;
    align-items: flex-start;
    margin-top: 120px;
    .contact-form-name {
      @include flexrow;
      justify-content: center;
      margin-bottom: 55px;
      .contact-form-name__first {
        @include flexcolumn;
      }
      .contact-form-name__last {
        @include flexcolumn;
        margin-left: 20px;
      }
    }
    .contact-form__address {
      @include flexcolumn;
      margin-bottom: 55px;
    }
    .contact-form__message {
      @include flexcolumn;
      margin-bottom: 32px;
    }
    .contact-form-bg {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      right: 190px;
      width: 300px;
      height: 100px;
      background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
      opacity: 1;
      filter: blur(100px);
      border-radius: 236.048px;
      transform: rotate(5.78deg);
    }
  }
}

.return {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  .up__button {
    width: 62px;
    height: 72px;
    opacity: 0.1;
    &:hover {
      opacity: 1;
    }
    img {
      transform: rotate(180deg);
    }
  }
}

.footer {
  width: 100%;
  max-height: 400px;
  background-color: $bgray;
  .footer-content {
    @include flexrow;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 56px;

    img {
      max-width: 100%;
    }

    .footer-content-img {
      margin-top: 242px;
    }
    .footer-content-telegram {
      width: 299px;
      height: 295px;
      background-color: $white;

      .footer-content-telegram__title {
        @include flexrow;
        align-items: center;
        background-color: $stateblue;
        color: $white;
        h2 {
          font-weight: 600;
          font-size: 22px;
          line-height: 18px;
        }

        h3 {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
        }

        .footer-content-telegram__title-img {
          display: flex;
          justify-content: center;
          align-content: center;
          background-color: $bluepurple;
          padding: 11px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .footer-content-telegram__title-text {
          @include flexcolumn;
          margin-left: 16px;
        }
      }

      .footer-content-telegram__text {
        @include flexcolumn;
        align-items: flex-start;
        justify-content: center;
        padding-top: 20px;
        padding-left: 31px;
        p,
        a {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
        }

        h5 {
          font-weight: 400;
          font-size: 11px;
          line-height: 18px;
        }
        .footer-content-telegram__text-item {
          @include flexcolumn;
          align-items: flex-start;
          justify-content: center;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.footer-content-nav-box {
  @include flexrow;
  align-items: flex-start;

  h3 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $darkorange;
    margin-left: 8px;
  }

  .footer-content-nav__item {
    margin-left: 132px;
    .footer-content-nav__item-title {
      @include flexrow;
      margin-bottom: 20px;
    }
    @include flexcolumn;
    @include link;
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.footer-reserved {
  display: flex;
  justify-content: center;
  background-color: $bblack;
  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;

    text-transform: uppercase;
    color: $white;
  }
  img {
    width: 9px;
    height: 10px;
  }
}

@media screen and (max-width: 1900px) {
  body {
    max-width: 1900px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1280px) {
  body {
    max-width: 1280px;
    overflow-x: hidden;
  }
  .header {
    .header-nav {
      margin: 0 10px 10px 40px;
    }
    .header-content {
      margin-left: 60px;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    max-width: 820px;
    overflow-x: hidden;
  }
  .header {
    .header-nav {
      #header__logo {
        width: 39px;
        height: 50px;
      }
    }
    .header-content {
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 28px;
      margin-bottom: 120px;
      .header-content-img {
        margin-left: 0;
      }
      .header-content-text {
        margin-left: 0;
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

      img {
        width: 99px;
        height: 82px;
      }
      .header-content-toggle {
        display: none;
      }
    }
  }

  .statistics {
    height: 598px;
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 12px;
    }
    .statistics-text {
      flex-direction: column;
      .statistics-text__item {
        margin-bottom: 68px;
      }
    }
  }

  .contact input {
    width: 170px;
  }

  .statistics h2 {
    font-size: 50px;
  }
  .spotlight {
    flex-direction: column;
    video {
      margin-left: 0;
    }
    .spotlight-text {
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-size: 15px;
        line-height: 21px;
      }
      #spotlight__button {
        opacity: 0;
      }
    }
    .spotlight-video {
      display: flex;
      flex-direction: column;
      align-items: center;

      #spotlight__button--mobil {
        margin-top: 53px;
        opacity: 1;
      }
    }
  }

  .contact #address,
  .contact #message {
    width: 363px;
  }
  .footer-content-nav-box {
    .footer-content-nav__item {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 520px) {
  .header {
    .header-nav {
      #header__logo {
        width: 39px;
        height: 50px;
      }
    }
    .header-content {
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 28px;
      margin-bottom: 120px;
      .header-content-img {
        margin-left: 0;
      }
      .header-content-text {
        margin-left: 0;
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

      img {
        width: 99px;
        height: 82px;
      }
      .header-content-toggle {
        display: none;
      }
    }
  }

  .statistics {
    height: 598px;
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 12px;
    }
    .statistics-text {
      flex-direction: column;
      .statistics-text__item {
        margin-left: 0;
        margin-bottom: 68px;
      }
    }
  }

  .contact input {
    width: 170px;
  }

  .spotlight {
    flex-direction: column;
    video {
      margin-left: 0;
    }
    .spotlight-text {
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-size: 15px;
        line-height: 21px;
      }
      #spotlight__button {
        opacity: 0;
      }
    }
    .spotlight-video {
      display: flex;
      flex-direction: column;
      align-items: center;

      #spotlight__button--mobil {
        margin-top: 53px;
        opacity: 1;
      }
    }
  }
  .contact {
    flex-direction: column;
    align-items: center;

    .contact-bg {
      width: 250px;
      opacity: 0.7;
      filter: blur(137);
    }
    h2 {
      margin-top: 0;
    }
    .contact-text {
      margin-bottom: 20px;
    }
    .contact-form {
      margin-top: 0;
      align-items: center;
      .contact-form-bg {
        display: none;
      }
      .contact-form-name {
        flex-direction: column;
        margin-bottom: 20px;
        .contact-form-name__first {
          margin-bottom: 8px;
        }
        .contact-form-name__last {
          margin-left: 0;
        }
      }
    }
    input,
    #address,
    #message {
      width: 283px;
    }
  }

  .affairs {
    .affairs-box {
      grid-template-columns: none;
      grid-template-rows: none;
    }
  }

  .footer {
    max-height: 100%;

    .footer-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .footer-content-telegram {
        margin-bottom: 30px;
      }
      .footer-content-nav-box {
        .footer-content-nav__item {
          margin-left: 0;
        }
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(1);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
    overflow-x: hidden;
  }

  .menu {
    display: block;
  }

  .menu__btn {
    display: flex;
  }

  .header {
    .header-nav {
      justify-content: flex-start;
      .header-nav__menu {
        display: none;
      }
      #header__logo {
        width: 39px;
        height: 50px;
      }
    }
    .header-content {
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 28px;
      margin-bottom: 120px;
      .header-content-img {
        margin-left: 0;
      }
      .header-content-text {
        margin-left: 0;
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

      img {
        width: 99px;
        height: 82px;
      }
      .header-content-toggle {
        display: none;
      }
    }
  }

  .statistics {
    height: 598px;
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 12px;
    }
    .statistics-text {
      flex-direction: column;
      .statistics-text__item {
        margin-bottom: 68px;
      }
    }
  }

  .affairs {
    padding-top: 62px;
    padding-bottom: 48px;
    .affairs-title {
      margin-right: 0;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 34px;
        line-height: 72px;
      }
    }
    .affairs-box {
      p {
        font-size: 15px;
        line-height: 19px;
      }
      .affairs-box__item {
        margin-bottom: 62px;
      }
    }
  }

  .spotlight {
    flex-direction: column;
    .spotlight-text {
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-size: 15px;
        line-height: 21px;
      }
      #spotlight__button {
        opacity: 0;
      }
    }
    .spotlight-video {
      display: flex;
      flex-direction: column;
      align-items: center;

      #spotlight__button--mobil {
        margin-top: 53px;
        opacity: 1;
      }
    }
  }

  .contact {
    h2 {
      font-size: 34px;
      line-height: 40px;
    }
    label {
      margin-bottom: 16px;
    }
    height: 737px;
    .contact-form {
      .contact-form-name {
        margin-bottom: 20px;
        .contact-form-name__last,
        .contact-form-name__first {
          margin-bottom: 20px;
        }
      }
    }
    .contact-bg {
      width: 250px;
      height: 180px;
      filter: blur(100px);
      opacity: 0.5;
    }
  }
  .footer {
    .footer-content {
      .footer-content-telegram {
        margin-bottom: 60px;
      }
    }
    .footer-content-nav-box {
      h3 {
        font-size: 14px;
        line-height: 20px;
      }
      .footer-content-nav__item {
        margin-left: 0;
        > a {
          font-size: 14px;
          line-height: 18px;
          margin-left: 0;
        }
      }
    }
    .footer-reserved {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95px;
      p {
        font-size: 8px;
        line-height: 20px;
      }
    }
  }
}
